{{> header.hbs }}

<h2 class="uk-text-center">Create a form</h2>

<div class="uk-flex uk-flex-center">
    <form id="initial-creation-form" class="uk-form-stacked">
        <input hidden id="form-id" type="text" value="{{formId}}">
        <div class="uk-margin uk-form-width-large">
            <label class="uk-form-label" for="name">Form Name</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="name" id="name" placeholder="Name"
                    {{#if fn}}value="{{fn}}" {{fn}}{{/if}}>
            </div>
        </div>

        <div class="uk-margin uk-form-width-large">
            <label class="uk-form-label" for="name">Description</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="description" id="description" placeholder="Description"
                    {{#if fd}}value="{{fd}}" {{fd}}{{/if}}>
            </div>
        </div>

        <div class="uk-margin uk-form-width-large">
            <label class="uk-form-label" for="multiple-submissions">Allow multiple submissions?</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="multiple-submissions">
                    <option value="yes" {{#if ams}}selected{{/if}}>Yes</option>
                    <option value="no" {{#unless ams}}selected{{/unless}}>No</option>
                </select>
            </div>
        </div>

        <div class="uk-margin uk-form-width-large">
            <label class="uk-form-label" for="category">Category</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="category">
                    {{#each availableCategories}}
                            <option value="{{readable}}" {{#streq c readable}}selected{{/streq}}>{{readable}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <h4>Who can submit this form?</h4>
            <div class="uk-form-controls">
                <input class="uk-checkbox" type="checkbox" name="submit-anyone" id="submit-anyone"
                       {{#if sa}}checked{{/if}}> Anyone (no
                login necessary)
                <br>
                <input class="uk-checkbox" type="checkbox" name="submit-students" id="submit-students"
                       {{#if ss}}checked{{/if}}> Students
                <br>
                <input class="uk-checkbox" type="checkbox" name="submit-teachers" id="submit-teachers"
                       {{#if st}}checked{{/if}}> Teachers
            </div>
        </div>

        {{#if notStudent}}
            <div class="uk-margin">
                <h4>Besides yourself, who can see the results?</h4>
                <div class="uk-form-controls">
                    <input class="uk-checkbox" type="checkbox" name="view-anyone" id="view-anyone"
                           {{#if va}}checked{{/if}}> Anyone
                    (given a link)
                    <br>
                    <input class="uk-checkbox" type="checkbox" name="view-students" id="view-students"
                           {{#if vs}}checked{{/if}}>
                    Students
                    <br>
                    <input class="uk-checkbox" type="checkbox" name="view-teachers" id="view-teachers"
                           {{#if vt}}checked{{/if}}>
                    Teachers
                    <br>
                    <input class="uk-checkbox" type="checkbox" name="view-counseling" id="view-counseling"
                           {{#if vc}}checked{{/if}}>
                    Counseling and Student Services
                </div>
            </div>
        {{/if}}

        <div class="uk-margin uk-form-width-large">
            <label class="uk-form-label" for="date-selector">Select an end date (optional)</label>
            <div class="uk-form-controls">
                <input class="uk-input uk-width-1-2 uk-margin-right" type="text" readonly="readonly" id="date-selector">
                <a onclick="removeDate()" uk-icon="icon: close"></a>
            </div>
        </div>

        <div class="uk-margin" id="question-div">
            <button id="continue-to-questions" class="uk-button uk-button-primary"
                    onclick="createFormInitialValidation()" form="">
                Continue to creating questions..
            </button>
        </div>
    </form>
</div>

<script src="/js/creation.js"></script>

<script type="text/javascript">
        {{#if ed}}
        flatpickr("#date-selector", {
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
            defaultDate: new Date({{ed}})
        });
        {{else}}
        flatpickr("#date-selector", {
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d"
        });
        {{/if}}

        {{#if questions}}
        initializeEditing({{& questions}});
        {{/if}}
</script>

{{> footer-block.hbs }}